<div class="container w-auto px-5 pt-5 mt-5 h-100">
    <div class="d-flex flex-column justify-content-center align-items-center h-100 gap-5">
        <div class="d-grid text-center gap-2">
            <h1 class="homeHeader">Your Next Role starts with a Great Resume</h1>
            <h5>Create ATS-friendly resumes designed to get your foot in the door. A modern, recruiter-approved
                template,
                add your details seamlessly, and export a polished PDF that gets you noticed.</h5>
            <h4 class="hero-tag">Fast. Professional. Ready for your next career move.</h4>
        </div>
        <button class="start-btn mx-3 btn btn-primary mt-5 px-5 py-2 w-50" routerLink="/personal-info">Start
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
        </button>
        <div class="footer-copy text-center mt-5">
            &copy; 2026 Rishu Mishra. All rights reserved.
        </div>
    </div>
</div>