<div class="d-grid justify-content-evenly">
    <div class="form-container my-5 mx-2">
        <h2>Professional Summary</h2>
        <form [formGroup]="professionalSummary" (ngSubmit)="goNext()">
            <div class="form-row">
                <div class="form-group">
                    <label class="required" for="summary">Professional Summary:</label>
                    <textarea id="summary" formControlName="summary" rows="5"
                        placeholder="Enter your professional summary"></textarea>
                    @if(professionalSummary.get('summary')?.invalid && professionalSummary.get('summary')?.touched)
                    {
                    <div class="error-message">Please enter a valid summary (min: 20 charecters)</div>
                    }
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group">
                    <label class="required" for="skills">Skills:</label>
                    <textarea id="skills" formControlName="skills" rows="5" placeholder="Enter your skills"></textarea>
                    @if(professionalSummary.get('skills')?.invalid && professionalSummary.get('skills')?.touched)
                    {
                    <div class="error-message">Please enter a valid summary (min: 10 charecters)</div>
                    }
                </div>
            </div>
            <hr>
            <div class="form-row align-items-center">
                <span class="fw-bold">Total Experience</span>
                <div class="form-group flex-row align-items-center">
                    <label class="required me-2 mb-0" for="expYears">Years:</label>
                    <input type="number" id="expYears" formControlName="expYears" min="0" max="100"
                        oninput="if(this.value < 0) this.value = 0; if(this.value > 100) this.value = 100;"
                        placeholder="Enter years of experience (0-100)" />

                </div>
                <div class="form-group flex-row align-items-center">
                    <label class="required me-2 mb-0" for="expMonths">Months:</label>
                    <input type="number" id="expMonths" formControlName="expMonths" min="0" max="11"
                        oninput="if(this.value < 0) this.value = 0; if(this.value > 11) this.value = 11;"
                        placeholder="Enter months of experience (0-11)" />
                </div>
            </div>
            @if(professionalSummary.get('expYears')?.invalid && professionalSummary.get('expYears')?.touched)
            {
            <div class="error-message">Please enter a valid number of years. (0-100)</div>
            }
            @if(professionalSummary.get('expMonths')?.invalid && professionalSummary.get('expMonths')?.touched)
            {
            <div class="error-message">Please enter a valid number of months. (0-11)</div>
            }
            <div class="btn-container mt-4">
                <button class="previous-btn" type="button" (click)="goPrevious()">Previous</button>
                <button class="next-btn" type="submit" [disabled]="!professionalSummary.valid">Next</button>
            </div>
        </form>
    </div>
</div>